
  <div class="spacer1 bg-light"><span>Come for the blueberries...</span></div>
  <div class="parallax"></div>

  <div class="spacer1 bg-primary"><span>Stay for the super fresh produce.</span></div>

  <div class="parallax parallax1"></div>
  <div class="spacer1 bg-secondary"><span>Flower fresh, every time!</span></div>

  <div class="parallax parallax2"></div>
  <div class="spacer1 bg-warning"><span>But we have cookies too if you're into that sort of thing.</span></div>

  <div class="parallax parallax3"></div>
  <div class="spacer1 bg-info"><span>Hope to see you soon!</span></div>

